# Мусор ( игнорируется везде )
*.map
*.db

# Игнорирование всех папок в корне проекта
/*

# Игнорируемые папки
/.idea
/node_modules
/versions
/sources

# Обязательные файлы
!/.gitignore
!/gulpfile.js
!/config.js
!/package.json
!/package-lock.json

# Обязательные папки
!/dev
!/dist
!/builder
