/** @section Image custom */

// Set image height to auto
img {
	height: auto;
	max-width: 100%;
}

// Image block
.img-block {
	display: block;
	width: 100%;
}

// Image float left
.img-float-wrap-1 {}

// Medium ≥576px
@include media-breakpoint-up(sm) {
	.img-float-left-1 {
		max-width: 45%;
		float: left;
		margin-right: 30px;
		margin-bottom: 10px;

		& + * {
			margin-top: 0;
		}
	}

	.img-float-right-1 {
		float: right;
		margin-left: 30px;
		margin-bottom: 10px;
		max-width: 45%;

		& + * {
			margin-top: 0;
		}
	}
}

* + .img-float-wrap-1 { margin-top: 35px; }

// Medium ≥576px
@include media-breakpoint-up(sm) {
	* + .img-float-wrap-1 { margin-top: 40px; }
}