// Variables

// Color system
// Gray colors
$white: #ffffff;
$gray-100: #edeff4;
$gray-200: #d7d7d7;
$gray-300: #cccccc;
$gray-400: #b7b7b7;
$gray-500: #9b9b9b;
$gray-600: #434345;
$gray-700: #2c343b;
$gray-800: #151515;
$gray-900: #111111;
$black: #000000;

// Body
$body-bg: $white;
$body-color: $gray-600;

// Accent colors
$primary: #42b574;
$primary-light: #84c450;
$accent-color-1: #8668ad;

$disabled-color: #d9d9d9;
$info-color: #79ccf2;
$warning-color: #f5bf2f;
$danger-color: #f54b0f;
$success-color: #abcc37;

// Fonts
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif: "Roboto Slab", "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-base: $font-family-sans-serif;

$font-weight-bold: 700;

// Base fonts
$font-size-body: 16px;
$font-size-lg: 17px;
$font-size-sm: 15px;

$_lh-base: 24px;
$_lh-lg: 25px;

$font-weight-base: 400;

// ** < Calculated font values >
$line-height-base: ($_lh-base / $font-size-body);
$line-height-lg: ($_lh-lg / $font-size-lg);
// ** </ Calculated font values >

// Headings
$headings-font-family: inherit;
$headings-font-weight: 400;
$headings-line-height: 1.1;
$headings-color: $gray-600;

// Template Heading Values
$_h1-fsz: 45;
$_h2-fsz: 38;
$_h3-fsz: 30;
$_h4-fsz: 24;
$_h5-fsz: 22;
$_h6-fsz: 17;

$_h1-lh: 54;
$_h2-lh: 45;
$_h3-lh: 36;
$_h4-lh: 30;
$_h5-lh: 27;
$_h6-lh: 25;

// ** < Calculated Headings values >
$h1-font-size: $_h1-fsz * 1px;
$h2-font-size: $_h2-fsz * 1px;
$h3-font-size: $_h3-fsz * 1px;
$h4-font-size: $_h4-fsz * 1px;
$h5-font-size: $_h5-fsz * 1px;
$h6-font-size: $_h6-fsz * 1px;

$h1-line-height: ($_h1-lh / $_h1-fsz);
$h2-line-height: ($_h2-lh / $_h2-fsz);
$h3-line-height: ($_h3-lh / $_h3-fsz);
$h4-line-height: ($_h4-lh / $_h4-fsz);
$h5-line-height: ($_h5-lh / $_h5-fsz);
$h6-line-height: ($_h6-lh / $_h6-fsz);
// ** </ Calculated Headings values >

// Icon Fonts
$fa: 'FontAwesome';
$mdi: 'Material Design Icons';
$mi: 'Material Icons';

// Lead
$lead-font-size: 24px;
$lead-line-height: 34px;
$lead-font-weight: 300;

// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1600px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$screen-fullhd: 1600px;

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1200px
);
@include _assert-ascending($container-max-widths, "$container-max-widths");

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-gutter-width-narrow: 30px;