-
	var
		pageName = 'Home',
		fonts = "https://fonts.googleapis.com/css?family=Lato:300,400,400i,700",
		logo = {
			default: 'logo-default-520x84.png',
			inverse: 'logo-inverse-520x84.png',
			name: 'Tense'
		}
