include _functions
include _config
include _mixins

block variables

doctype html
html( lang='en' )
	head
		block title
			title= pageName

		meta( charset='utf-8' )
		meta( name='viewport', content='width=device-width, height=device-height, initial-scale=1.0' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		link( rel='stylesheet', href= fonts )
		link( rel='stylesheet', href='css/bootstrap.css' )
		link( rel='stylesheet', href='css/style.css' )

	block variables

	body
		.page
			block page

		script( src='js/core.min.js' )
		script( src='js/script.js' )
