/** @section Lists */

// Vertical list
.list {
	> li + li { margin-top: 10px; }
}

.list-demo {
	> li + li { margin-top: 35px; }
}

.list-demo-2 {
	> li + li { margin-top: 25px; }
}

* + .list-demo-2 { margin-top: 30px; }

// Large ≥1200px
@include media-breakpoint-up(xl) {
	.list-demo {
		> li + li { margin-top: 50px; }
	}

	.list-demo-2 {
		> li + li { margin-top: 50px; }
	}

	* + .list-demo-2 { margin-top: 50px; }
}

// Mega large ≥1600px
@include media-breakpoint-up(xxl) {

}