/** @section Typography */

// Body
body {
	font-family: $font-family-base;
	font-size: $font-size-body;
	line-height: $line-height-base;
	font-weight: $font-weight-base;
	color: $body-color;
	background-color: $body-bg;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: subpixel-antialiased;
}

// Headings
#{headings()} {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: $headings-font-weight;
	color: $headings-color;

	a {
		color: inherit;

		&:hover {
			color: $primary;
		}
	}
}

h1,
.heading-1 {
	font-size: 36px;
	line-height: 1.1;

	.small {
		font-size: 67%;
	}

	@include media-breakpoint-up(xxl) {
		font-size: $h1-font-size;
		line-height: $h1-line-height;
	}
}

h2,
.heading-2 {
	font-size: 28px;
	line-height: 1.2;

	.small {
		font-size: 68%;
	}

	@include media-breakpoint-up(xxl) {
		font-size: $h2-font-size;
		line-height: $h2-line-height;
	}
}

h3,
.heading-3 {
	font-size: 24px;
	line-height: 1.3;

	.small {
		font-size: 80%;
	}

	@include media-breakpoint-up(xxl) {
		font-size: $h3-font-size;
		line-height: $h3-line-height;
	}
}

h4,
.heading-4 {
	font-size: 22px;
	line-height: 1.4;

	.small {
		font-size: 83%;
	}

	@include media-breakpoint-up(xxl) {
		font-size: $h4-font-size;
		line-height: $h4-line-height;
	}
}

h5,
.heading-5 {
	font-size: 20px;
	line-height: 1.4;

	.small {
		font-size: 80%;
	}

	@include media-breakpoint-up(xxl) {
		font-size: $h5-font-size;
		line-height: $h5-line-height;
	}
}

h6,
.heading-6 {
	font-size: 18px;
	line-height: 1.5;
	font-weight: $font-weight-bold;

	.small {
		font-size: 94%;
	}

	@include media-breakpoint-up(xxl) {
		font-size: $h6-font-size;
		line-height: $h6-line-height;
	}
}

// Type offsets
* + h1 { margin-top: 0.83em; }
* + h2 { margin-top: 0.83em; }
* + h3 { margin-top: 0.83em; }
* + h4 { margin-top: 0.83em; }
* + h5 { margin-top: 0.83em; }
* + h6 { margin-top: 0.83em; }
* + p { margin-top: 0.63em; }
p + p { margin-top: 0.53em; }

// Extra large ≥1200px
@include media-breakpoint-up(xl) {
	* + h1 { margin-top: 0.83em; }
	* + h2 { margin-top: 0.83em; }
	* + h3 { margin-top: 0.83em; }
	* + h4 { margin-top: 0.83em; }
	* + h5 { margin-top: 0.83em; }
	* + h6 { margin-top: 0.83em; }
	* + p { margin-top: 0.83em; }
	p + p { margin-top: 0.83em; }
	.title-border-bottom + p { margin-top: 30px; }
}

// Mega large ≥1600px
@include media-breakpoint-up(xxl) {
	* + h1 { margin-top: 26px; }
	* + h2 { margin-top: 42px; }
	* + h3 { margin-top: 27px; }
	* + h4 { margin-top: 28px; }
	* + h5 { margin-top: 29px; }
	* + h6 { margin-top: 29px; }
	* + p { margin-top: 18px; }
	p + p { margin-top: 16px; }
	.title-border-bottom + p { margin-top: 40px; }
}

// Emphasis
small,
.small {
	font-size: $font-size-sm;
	line-height: inherit;
}

mark,
.mark {
	padding: 3px 5px;
	color: $white;
	background: $primary;
}

code,
.code {
	font-family: $font-family-monospace;
	font-size: 75%;
	color: red;
}

// Big text
.big {
	font-size: $font-size-lg;
	line-height: $line-height-lg;
}

.lead {
	font-size: $lead-font-size;
	line-height: $lead-line-height;
	font-weight: $lead-font-weight;
}

// Title bordered bottom
.title-border-bottom {
	position: relative;
	padding-bottom: .8em;
	text-align: center;

	&:after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 40px;
		height: 2px;
		@include gradient-x($primary, $primary-light);
		transform: translateX(-50%);
	}
}